body{
    background-image: url(Images/Ark.jpg);
    
    
}

.Logo img {
    height: 125px;
    width: 125px;
    border-radius: 50%;
    

}

.Logo{
    display: inline-block;
    place-self: start;
}

.headewrite {
    border: 5px solid;
    border-color: black;
    padding-left: 50px;
   

}

.p1 {
    font-size: 30px;
}

.hda {
    display: inline-block;
    padding: 25px;
}

.Flexbox2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.Flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.maindino {
    padding-right: 160px;
}
