body{
    background-image: url(Images/Ark.jpg);
    
    
}

.Logo img {
    height: 125px;
    width: 125px;
    border-radius: 50%;

}

div{
    display: inline-block;
}

.headewrite {
    border: 5px solid;
    text-align: center;


 
}

.p1 {
    font-size: 30px;
}

table {
   
    
}
td {;
    padding: 25px;
}